{% extends 'InoKontoManager.html.twig' %}
{% block body %}
<div class="row">
  <div class="col">
    <div class="card-title h3">Auswertungen</div>
  </div>
</div>
<div class="row">
</div>
{% endblock %}
