{% extends 'InoFreelancerManager.html.twig' %}
{% block body %}
<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active h3" aria-current="page"><i class="fa-solid fa-user-group fa-fw"></i> Projekte</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row mb-2">
  <div class="col-auto">
    <button type="button" class="btn btn-primary" onclick="window.location.href='#'"><i class="fa-solid fa-plus"></i> Neues Projekt anlegen</button>
  </div>
</div>





{% endblock %}
